//Style default


// Header style image banner
#header{
	// position:relative;
}
.carousel-caption{
	top: 20%;
	left: 12%;
	text-align: left;
	h1{
		font-size: 3em;
	}
	p{
		font-size: 2em;
		font-weight: 300;
	}
}
.carousel-inner{
	img{
		width: 100%;
	}
}

//Custom style Bootstrap
.navbar{
	margin-bottom:0;
}
.navbar-brand {
	padding-top: 6px !important;
}

.navbar-menu-primary{
	background:$branco;
.navbar-brand,
.navbar-nav li a {
    line-height:100px;
    height:100px;
    padding-top:0;
    font-size: 1.1em;
    font-weight: $light;
}

}
.active{
	a{
		background:none;
	}
}

