//
// Scaffolding
// --------------------------------------------------

*,
*:before,
*:after {
   box-sizing: border-box;
}
img{
	max-width: 100%;
}

//
//Body Style
//---------------------------------------------------
body{
	// padding-top: 100px;
	font-family: 'Open Sans', sans-serif; 
}


//
//Color Basic
//--------------------------------------------------
$preto:#000000;
$preto-medio:#222222;
$branco:#ffffff;
$cinza: #dbdbdb;
$cinza-claro:#f0f0f0;
$cinza-medio:#4b5258;
$cinza-escuro:#2e3133;
$verde:#6bbaa8;
$laranja:#d7822f;
$azul:#33a5c2;
$azul-claro:#c2f5ea;
$azul-escuro: #353542;
//
//Font Weight
//--------------------------------------------------
$light:300;
$normal:400;
$semi-bold:600;
$bold:900;